@use '../../../../../node_modules/igniteui-theming/sass/color/functions' as *;
@use '../../../../../node_modules/igniteui-theming/sass/typography/functions' as *;
@use '../../grid.base';

:host {
    // Grid body
    --content-background: #{var(color(null, gray, 50))};
    --content-text-color: #{var(contrast-color(null, gray, 50))};

    // Header row
    --header-background: #{color(null, gray, 100)};
    --header-text-color: #{color(null, gray, 800, .7)};
    --header-border-width: #{rem(1px)};
    --header-border-style: solid;
    --header-border-color: #{color(null, gray, 400, .38)};

    // Header cell
    --sorted-header-icon-color: #{color(null, secondary, 500)};

    // Body Row
    --row-hover-background: #{color(null, gray, 200)};
    --row-hover-text-color: #{contrast-color(null, gray, 200)};
    --row-even-background: #{color(null, gray, 50)};
    --row-even-text-color: #{color(null, gray, 800)};
    --row-odd-background: #{color(null, gray, 50)};
    --row-odd-text-color: #{color(null, gray, 800)};
    --row-border-color: #{color(null, gray, 300, .38)};
    --row-border-style: var(--header-border-style);
    --row-border-width: var(--header-border-width);

    // Body cell
    --cell-active-border-color: #{color(null, secondary, 500)};
}
