@use '../common' as *;

$row-border-width: var(--igx-row-border-width, var(--row-border-width));
$cell-active-border-color: var(--igx-cell-active-border-color, var(--cell-active-border-color));
$inset-shadow-width: #{rem(1px)};

:host {
    display: inline-flex;
    flex: 1 0 0;
    contain: content;
    align-items: center;
    padding: 0 $ig-cells-padding;
    color: inherit;
    border-right: $row-border-width solid transparent;
    font-size: #{rem(13px)};

    &:last-of-type {
        border-right: 0;
    }
}

:host([active]) {
    outline: none;
    box-shadow: inset 0 0 0 $inset-shadow-width $cell-active-border-color;
}

:host(:last-child) {
    border-inline-end: none;
}

igc-input {
    position: absolute;
    top: $inset-shadow-width;
    left: $inset-shadow-width;
    width: calc(100% - ($inset-shadow-width * 2));
    height: calc(100% - ($inset-shadow-width * 2));

    &::part(container),
    &::part(input) {
        height: 100%;
        border: none;
        box-shadow: none;
        background: inherit;
        color: inherit;
        border-radius: 0;
        font-size: #{rem(13px)};
    }

    &::part(helper-text),
    &::part(container) {
        &::after {
            display: none;
        }
    }
}
