@use 'node_modules/igniteui-theming' as *;
@forward 'node_modules/igniteui-theming';

$ig-cells-padding: sizable(rem(8px), rem(16px), rem(24px));
$ig-cells-min-height: sizable(rem(24px), rem(34px), rem(50px));

:host {
    @include sizable();

    --component-size: 3;
}
