:host {
    display: grid;
    width: 100%;

    // grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    contain: content;
}

igc-grid-cell {
    border-right: 1px solid hsla(var(--igc-gray-400));

    &:last-child {
        border-right: none;
    }

    &[active] {
        outline-offset: -1px;
        outline: 2px solid hsla(var(--igc-secondary-500));
    }
}
