@use '../common' as *;

$header-background: var(--igx-header-background, var(--header-background));
$header-text-color: var(--igx-header-text-color, var(--header-text-color));
$header-border-width: var(--igx-header-border-width, var(--header-border-width));
$header-border-style: var(--igx-header-border-style, var(--header-border-style));
$header-border-color: var(--igx-header-border-color, var(--header-border-color));
$filtering-header-background: var(--igx-filtering-header-background, var(--filtering-header-background));

:host {
    display: grid;
    min-height: $ig-cells-min-height;
    background: $header-background;
    color: $header-text-color;
    contain: content;
    border-block-end: $header-border-width $header-border-style $header-border-color;
    z-index: 1;
}

:host(:focus) {
    outline: none;
}

[part='filtered'] {
    background: $filtering-header-background;
}
