@use '../../vars' as *;

:host {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    min-height: $ig-cells-min-height--xl;
    background: var(--header-background);
    color: var(--header-text-color);
    contain: content;
    border-bottom: 1px solid #ccc;
}

:host(:focus) {
    outline: none;
}
