@use '../common' as *;

$filtering-row-background: var(--igx-filtering-row-background, var(--filtering-row-background));
$filtering-row-text-color: var(--igx-filtering-row-text-color, var(--filtering-row-text-color));
$header-background: var(--igx-header-background, var(--header-background));
$header-text-color: var(--igx-header-text-color, var(--header-text-color));

@keyframes slide-down {
    0% {
        opacity: .35;
        transform: translate(0, rem(-10px));
    }

    100% {
        opacity: 1;
    }
}

:host {
    --ig-size: 1;

    display: flex;
    gap: rem(16px);
    position: absolute;
    align-items: center;
    inset-block-start: var(--header-row-bottom);
    inset-inline-start: 0;
    width: 100%;
    min-height: $ig-cells-min-height;
    z-index: 1;
    background: $filtering-row-background;
    color: $header-text-color;
    padding: 0 $ig-cells-padding;
    box-sizing: border-box;
    animation: slide-down 180ms ease-in-out both;
    box-shadow: elevation(1);
}

[part~='filter-row-input'],
[part~='filter-row-filters'],
[part~='filter-actions'], {
    display: flex;
    align-items: center;
    gap: rem(8px);
}

[part~='filter-row-filters'] {
    flex: 1;
    overflow: hidden;
}
