@use 'node_modules/igniteui-theming/sass/color/functions' as *;
@use 'node_modules/igniteui-theming/sass/typography/functions' as *;
@use 'node_modules/igniteui-theming/sass/elevations' as *;
@use 'node_modules/igniteui-theming/sass/color/presets/light/bootstrap' as *;

:host {
    // Grid
    --content-background: #{color($palette, gray, 50)};
    --content-text-color: #{contrast-color($palette, gray, 50)};

    // Body Row/cell
    --row-hover-background: #{color($palette, gray, 200)};
    --row-hover-text-color: #{contrast-color($palette, gray, 200)};
    --row-even-background: #{color($palette, gray, 50)};
    --row-even-text-color: #{contrast-color($palette, gray, 50)};
    --row-odd-background: #{color($palette, gray, 50)};
    --row-odd-text-color: #{contrast-color($palette, gray, 50)};
    --row-border-color: #{color($palette, gray, 500, .38)};
    --cell-active-border-color: #{color($palette, primary, 500)};

    // Header row/cell
    --header-background: #{color($palette, surface, 500)};
    --header-text-color: #{contrast-color($palette, surface, 500)};
    --header-border-width: #{rem(1px)};
    --header-border-style: solid;
    --header-border-color: #{color($palette, gray, 400, .38)};
    --sorted-header-icon-color: #{color($palette, primary, 500)};

    display: flex;
    height: 100%;
    flex-flow: column;
    contain: content;
    box-shadow: var(--ig-elevation-2);
}

igc-grid-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    background: var(--content-background);
    color: var(--content-text-color);

    &:focus {
        outline: none;
    }
}
