@use '../common' as *;

$content-background: var(--igx-content-background, var(--content-background));
$content-text-color: var(--igx-content-text-color, var(--content-text-color));
$grid-resize-line-color: var(--igx-grid-resize-line-color, var(--grid-resize-line-color));

:host {
    display: grid;
    height: 100%;
    contain: content;
    font-family: var(--ig-font-family);
    box-shadow: elevation(2);
    overflow: auto hidden;
    grid-template-rows: max-content auto;
}

apx-grid-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    background: $content-background;
    color: $content-text-color;

    &:focus {
        outline: none;
    }
}

[part~='resize-indicator'] {
    position: absolute;
    height: 100%;
    background-color: $grid-resize-line-color;
    width: rem(2px);
    inset-inline-start: 0;
    top: 0;
    z-index: 1;
}

$header-background: var(--igx-header-background, var(--header-background));
$header-text-color: var(--igx-header-text-color, var(--header-text-color));

@keyframes slide-down {
    from {
        opacity: .35;
        transform: translate(0, rem(-10px));
    }

    to {
        opacity: 1;
    }
}

[part~='filter-row'] {
    animation: slide-down 180ms ease-in-out both;
    position: absolute;
    display: flex;
    background: $header-background;
    color: $header-text-color;
    width: 100%;
    inset-block-start: var(--header-row-bottom);
    inset-inline-start: 0;
    z-index: 1;
}
