@use '../common' as *;

$content-background: var(--igx-content-background, var(--content-background));
$content-text-color: var(--igx-content-text-color, var(--content-text-color));
$grid-resize-line-color: var(--igx-grid-resize-line-color, var(--grid-resize-line-color));

:host {
    display: grid;
    height: 100%;
    position: relative;
    font-family: var(--ig-font-family);
    box-shadow: elevation(2);
    overflow: auto hidden;
    grid-template-rows: max-content max-content auto;

    --scrollbar-offset: 0;
    --z-index-base: 1;
}

apx-grid-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    background: $content-background;
    color: $content-text-color;

    &:focus {
        outline: none;
    }
}

[part~='resize-indicator'] {
    position: absolute;
    height: 100%;
    background-color: $grid-resize-line-color;
    width: rem(2px);
    inset-inline-start: 0;
    top: 0;
    z-index: calc(var(--z-index-base) + 1);
}
