@use '../common' as *;

$header-border-width: var(--igx-header-border-width, var(--header-border-width));
$header-border-style: var(--igx-header-border-style, var(--header-border-style));
$header-border-color: var(--igx-header-border-color, var(--header-border-color));
$sorted-header-icon-color: var(--igx-sorted-header-icon-color, var(--sorted-header-icon-color));

:host {
    display: flex;
    align-items: center;
    position: relative;
    border-inline-end: $header-border-width $header-border-style $header-border-color;
    font-weight: 600;
    font-size: #{rem(12px)};
}

:host(:last-of-type) {
    border-inline-end: none;
}

[part~='content'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 $ig-cells-padding;
    font-weight: 500;
    overflow: hidden;
    user-select: none;
}

[part~='sortable'] {
    cursor: pointer;
}

[part~='title'] {
    display: block;
    position: relative;
    cursor: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 3ch;
}

[part~='action'] {
    igc-icon {
        --size: #{rem(15px)};

        color: $sorted-header-icon-color;
    }
}

[part~='resizable'] {
    width: rem(4px);
    height: 100%;
    position: absolute;
    inset-inline-end: rem(-2px);
    z-index: 1;
    cursor: col-resize;
}
