@use '../common' as *;

$filtering-header-background: var(--igx-filtering-header-background, var(--filtering-header-background));
$header-border-width: var(--igx-header-border-width, var(--header-border-width));
$header-border-style: var(--igx-header-border-style, var(--header-border-style));
$header-border-color: var(--igx-header-border-color, var(--header-border-color));
$active-header-icon-color: var(--igx-sorted-header-icon-color, var(--sorted-header-icon-color));
$inactive-header-icon-color: var(--igx-icon-color, var(--icon-color));

:host {
    display: flex;
    align-items: center;
    position: relative;
    border-inline-end: $header-border-width $header-border-style $header-border-color;
    font-weight: 600;
    font-size: #{rem(12px)};
}

:host(:last-of-type) {
    border-inline-end: none;
}

[part~='content'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 $ig-cells-padding;
    font-weight: 500;
    overflow: hidden;
    user-select: none;
}

[part~='title'] {
    display: block;
    position: relative;
    cursor: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 3ch;
}

[part~='actions'] {
    display: flex;
    gap: rem(4px);
    align-items: center;
}

[part~='action'] {
    cursor: pointer;
    opacity: .7;
    transition: opacity .25s ease-in-out;

    &:hover,
    &:focus {
        opacity: 1;
    }

    igc-icon {
        --size: #{rem(15px)};

        color: $inactive-header-icon-color;
    }

    igc-icon::after {
        content: attr(data-sortIndex);
        position: absolute;
        top: -5px;
        inset-inline-end: -1px;
        font-size: rem(10px);
        text-align: end;
        font-family: sans-serif;
        line-height: rem(10px);
        color: $active-header-icon-color;
    }
}

[part~='sorted'],
[part~='filtered'] {
    color: $active-header-icon-color;

    igc-icon {
        color: $active-header-icon-color;
    }
}

[part~='filtered'] {
    background: $filtering-header-background;
}

[part~='action']:empty {
    display: none;
}

[part~='resizable'] {
    width: rem(4px);
    height: 100%;
    position: absolute;
    inset-inline-end: rem(-2px);
    z-index: var(--z-index-base);
    cursor: col-resize;
}

[part~='filter'] {
    position: relative;
}

[part~='filter-count'] {
    position: absolute;
    top: -5px;
    inset-inline-end: -1px;
    font-size: .625rem;
    text-align: end;
    font-family: sans-serif;
    line-height: .625rem;
    color: currentcolor;
}
